@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    max-width: 100%;
    height: 100vh;
    margin: 0 auto;
    background: #20211c;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 5rem;
    padding: 0.5rem;
}

.order-numbers-h1 {
    letter-spacing: normal;
    color: #ddd;
    margin-bottom: 1rem;
}

.order-number-container {
    margin-bottom: 1rem;
    font-size: 0.55rem;
    font-weight: bold;
    color: #000000;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    gap: 5px;
    max-height: 500px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0px 10px 8px 0px black;
    border-radius: 5px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #dddddd00;
    color: #eceaea;
    border: 12px solid #000000;
    cursor: pointer;
    transition: background-color 0.7s;
    text-align: center;
    box-shadow: 0px 2px 2px 0px black;
    border: none;
    border-radius: 5px;
    font-weight: normal;
}

.grid-item.selected {
    background-color: white;
    color: rgba(255, 255, 255, 0);
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.btn-save {
    background-color: #000000;
    color: #ddd;
    border: 1px solid #ddd;
}

.btn-clear {
    background-color: #000000;
    color: #ddd;
    border: 1px solid #ddd;
}

.btn:hover {
    opacity: 0.8;
    background: #ff0101;
    border: 1px solid #ff0000;
}

@media (max-width: 600px) {
    .container {
        padding: 1rem;
    }

    .btn {
        padding: 0.5rem;
    }
}