@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: "Poppins", sans-serif;
    max-width: 100%;
    margin: 0 auto;
    scroll-behavior: smooth;
    background: #20211c;
}

.products {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}


/*************NAVBAR************/


/*******************************/


/*******************************/


/*******************************/

.navbar {
    background-color: #20211c;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.logo {
    width: 100%;
    height: 70px;
    background-image: url("../images/Untitled\ design.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0.5rem;
}

.navbar a {
    float: left;
    display: block;
    color: #c1bbbb;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease-in-out;
    position: sticky;
    width: 100%;
}

.navbar a:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
    color: white;
}

.navbar .toggle-btn {
    display: none;
    float: right;
    color: white;
    font-size: 24px;
    padding: 14px 16px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .navbar a {
        display: none;
    }
    .navbar .toggle-btn {
        display: block;
    }
}


/**********MOBILENAVBAR*********/


/*******************************/


/*******************************/


/*******************************/

.mobile-nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #080808;
    overflow-y: auto;
    transition: 0.3s ease-in-out;
    z-index: 1000;
}

.mobile-nav a {
    padding: 20px;
    text-decoration: none;
    font-size: 15px;
    color: #f1f1f1;
    display: block;
}

.mobile-nav a:hover {
    background-color: #ddd;
    color: black;
}

.close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 45px;
    border-radius: 50%;
}

.close-btn:hover {
    color: #ddd;
}


/**********PRODUCTS***********/


/*****************************/


/*****************************/


/*****************************/

.container {
    padding: 2rem;
    text-align: center;
    padding: 2rem;
    border-radius: 8px;
    width: 100%;
    justify-content: flex-start;
    overflow-y: auto;
    /* Enable vertical scrolling */
    margin-top: 5rem;
}

.products-page-h1 {
    letter-spacing: normal;
    margin-top: -1rem;
    width: 100%;
    color: #ddd;
}

h2 {
    color: #000000;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

th,
td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: center;
    border-bottom: 5px solid black;
    box-shadow: 0px 5px 8px 0px black;
    background: #20211c;
    color: #ddd;
}

th {
    background-color: #20211c;
    box-shadow: 0px 5px 5px 0px black;
    margin-top: 15rem;
    color: #ddd;
}

.btn {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-add {
    background-color: #020202;
    color: white;
    transition: all 0.5s ease-in-out;
    border: 1px solid #ddd;
}

.btn-add:hover {
    background: #e70909;
    transition: all 0.6s ease-in-out;
    border: 1px solid #ff0000;
}

.btn-delete {
    background-color: #000000;
    color: white;
}

.btn-delete:hover {
    background-color: #fc0606;
    color: white;
    transition: background-color 0.3s;
    border: 1px solid #ff0000;
}

.btn-save {
    background-color: #000000;
    color: white;
    border: 1px solid #ddd;
}

.btn-save:hover {
    background: #e70909;
    transition: all 0.6s ease-in-out;
    border: 1px solid #ff0000;
}

.image-preview {
    width: 125px;
    height: 125px;
    object-fit: cover;
}

@media (max-width: 600px) {
    .container {
        padding: 1rem;
    }
    .btn {
        padding: 0.5rem;
    }
}